@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
a {
    color: grey;
    font-weight: bold;
}
section {
    height: 470px;
}


header {
   background-color: white;
   height:20px;
   margin:15px;
    color: grey;
}
#cabecalho {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between ;
    align-items: center;
}
.menu {
    font-size: 20px;
    
}
.menu p {
    padding-left: 20px;
}
.menu a {
    text-decoration: none;
    color: rgba(86, 86, 196, 0.815);
    
}
nav  a {    
    padding-left: 10px;
    font-size: 14px;
}

main {
    height: 470px;
    background-image: url("../imagens/img-fundo.jpg");
    background-size: cover;

    
}
.container {
    position: relative;
    width:410px;
    height: 200px;
    background-color: #19a48d8e;
    border:1px solid rgba(255, 255, 255, 0.411) ;
    border-radius: 5px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

#titulo {
    position: relative;
    font-size: 30px;
    top: 20%;
    left: 10%;
}
#texto {
    position: relative;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.932);
    top: 40%;
    left: 5%;
}
.card img {
    height: 150px;
    width: 260px;
    margin-bottom: 22px;
    
}
article {
    text-align: center;
    margin: 60px;
   
}
article h2 {
    color: rgb(107, 106, 106);
    font-weight: normal;
    font-size: 24px;
}
article p {
    margin: auto;
    margin-top: 20px;
    font-size: 15px;
    width: 430px;
    font-weight: bold;
    line-height: 30px;
    color: rgba(128, 128, 128, 0.884);
}

.card-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: space-around;
    align-items: center;
}
.card-box a {
    
    text-decoration: none;
    padding: 15px 67.5px;
    border-bottom: 1px solid #467B75;
    
}
#casal a {
  padding-left: 68px;
  padding-right: 88px;
}
#familia a {
    padding-right: 66px;
}
.localizacao {
    margin-bottom: 35px;
}

.localizacao h2 {
    text-align: center;
    color: rgb(107, 106, 106);
    font-weight: normal;
}
.localizacao p {
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    width: 430px;
    font-weight: bold;
    line-height: 30px;
    color: rgba(128, 128, 128, 0.884);
}
iframe {
    width: 98.3vw;
    height: 300px;
}

.box-coluna img  {
    margin-left: 10px;
    padding-right: 20px;
    width: 100px;
    height: 100px;
}

.sobre-pousada h2 {
    text-align: center;
    color: rgb(107, 106, 106);
    font-weight: normal;
}
.sobre-pousada p {
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    width: 430px;
    font-weight: bold;
    line-height: 30px;
    color: rgba(128, 128, 128, 0.884);
}
.coluna {
    margin: auto;
    columns: 2;
    margin-top: 50px;
    width: 90vw;

}
.box-coluna h2 {
    font-size: 16px;
}

.box-coluna {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom:40px ;

}
.text-coluna h2 {
    margin-bottom: 20px;
}

.coluna p {
    
    font-size: 13px;
    color: rgb(110, 109, 109);
    text-align: justify;
    align-self: center;
}

.contato {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #49997D;
    height: 150px;
    border-bottom: 1px solid grey;
}

.contato-container {
    width: 150px;
    height: 80px;

    
}
.contato-container p {
    text-align: center;
    margin-top: 20px;
    color: white;
}

.contato-container a {
    text-align: center;
    margin-top: 20px;
    color: white;
    text-decoration: none;
}
.contato-container img {
    position: relative;
    left: -40px;
    top: -40px;
}
#cel img {
    top: -20px;
}

footer {
    height: 50px;
    background-color: #49997D;
    padding-top: 10px;
    color: white;
    text-align: center;
    
}


@media (max-width:549px){
    #iframe {
        position: relative;
        height: 780px;
        top: 315px;
    }

    #cel img {
        padding-left: 20px;
    }
    #contato-comigo p {
        margin-right: 10px;
    
    }
    .contato {
        margin-top: 150px;

    }
    #hidden {
       overflow: hidden;
       
    }
    #recepcao {
        height: 310px;
        overflow: hidden;
    }
    article p {
        width: 360px;
        padding-right: 20px;
    }
    .card {
        padding-bottom: 50px;
    }
   
}

@media (max-width:810px){
    .card {
        margin-top: 35px;
    }
    #iframe {
        margin-top: 280px;
    
    }
}